@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --backgroundcolor: #E5446D;
    --backgroundcolorv2: #952d47;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--backgroundcolor);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 48px 64px;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 20px;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    backdrop-filter: blur(20px);
}

.time {
    margin-bottom: 24px;
}

.buttons {
    display: flex;
    gap: 24px;
}

.button {
    cursor: pointer;
    background: white;
    color: var(--backgroundcolor);
    padding: 12px 24px;
    border-radius: 5px;
    filter: drop-shadow(0 5px 0 var(--backgroundcolorv2));
    scale: 1;
    transition: all .3s;
}

.button:hover {
    scale: 1.1;
    filter: drop-shadow(0 6px 0 var(--backgroundcolorv2));
}